src/main/resources/Schemas/niem/niem-core/2.0/niem-core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://niem.gov/niem/niem-core/2.0" version="1" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:i="http://niem.gov/niem/appinfo/2.0">
  <xsd:annotation>
    <xsd:appinfo>
      <i:ConformantIndicator>true</i:ConformantIndicator>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:import schemaLocation="../../proxy/xsd/2.0/xsd.xsd" namespace="http://niem.gov/niem/proxy/xsd/2.0"/>
  <xsd:import schemaLocation="../../appinfo/2.0/appinfo.xsd" namespace="http://niem.gov/niem/appinfo/2.0"/>
  <xsd:import schemaLocation="../../structures/2.0/structures.xsd" namespace="http://niem.gov/niem/structures/2.0"/>
  <xsd:element name="DateRepresentation" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A representation of a date.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Date" type="niem-xsd:date" substitutionGroup="nc:DateRepresentation">
    <xsd:annotation>
      <xsd:documentation>A full date.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="DateRepresentation" />
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DateTime" type="niem-xsd:dateTime" substitutionGroup="nc:DateRepresentation">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="DateRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="DateType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
    <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:DateRepresentation" minOccurs="0" maxOccurs="unbounded" />
         
        </xsd:sequence>
      </xsd:extension>
      
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FullTelephoneNumberType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:TelephoneNumberFullID" minOccurs="0" maxOccurs="unbounded"/>
           <xsd:element ref="nc:TelephoneSuffixID" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
<xsd:complexType name="PersonNameTextType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="ProperNameTextType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="nc:ProperNameTextType"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="PersonNameType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:PersonNamePrefixText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:PersonGivenName" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:PersonPreferredName" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:PersonMiddleName" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:PersonSurName" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:PersonNameSuffixText" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ProperNameTextType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="TextType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="nc:TextType"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="TelephoneNumberType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:TelephoneNumberRepresentation" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="TelephoneNumberRepresentation" abstract="true"/>
  <xsd:complexType name="TextType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/proxy/xsd/2.0" i:name="string"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="niem-xsd:string"/>
    </xsd:simpleContent>
  </xsd:complexType>
   <xsd:element name="TelephoneSuffixID" type="niem-xsd:string" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Additional numbers to be entered after a call connects to be directed to the appropriate place.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ContactEmailID" type="niem-xsd:string" substitutionGroup="nc:ContactMeans">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="ContactMeans"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ContactFaxNumber" type="nc:FullTelephoneNumberType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="ContactTelephoneNumber"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ContactMeans" abstract="true"/>
  <xsd:element name="ContactTelephoneNumber" type="nc:FullTelephoneNumberType" substitutionGroup="nc:ContactMeans">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="ContactMeans"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DocumentCreationDate" type="nc:DateType"/>
  <xsd:element name="DocumentFileControlID" type="niem-xsd:string"/>
  <xsd:element name="FullTelephoneNumber" type="nc:FullTelephoneNumberType" substitutionGroup="nc:TelephoneNumberRepresentation">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="TelephoneNumberRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonFullName" type="nc:PersonNameTextType"/>
  <xsd:element name="PersonName" type="nc:PersonNameType"/>
  <xsd:element name="TelephoneNumberFullID" type="niem-xsd:string"/>
 <xsd:element name="AddressDeliveryPoint" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A single place or unit at which mail is delivered.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="StreetFullText" type="nc:TextType">
    <xsd:annotation>
      <xsd:documentation>A complete reference for a street.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
   <xsd:element substitutionGroup="nc:AddressDeliveryPoint" name="AddressDeliveryPointText" type="nc:TextType">
    <xsd:annotation>
      <xsd:documentation>A single place or unit at which mail is delivered.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="AddressDeliveryPoint"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:AddressDeliveryPoint" name="LocationStreet" type="nc:StreetType">
    <xsd:annotation>
      <xsd:documentation>A road, thoroughfare or highway.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="AddressDeliveryPoint"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
   <xsd:complexType name="StreetType">
    <xsd:annotation>
      <xsd:documentation>A data type for a road, thoroughfare, or highway.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:StreetFullText" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="StructuredAddressType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
           <xsd:element ref="nc:AddressDeliveryPoint" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:LocationCityName" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:LocationState" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:LocationCountry" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:LocationPostalCode" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="AddressRepresentation" abstract="true"/>
  <xsd:element name="LocationCityName" type="nc:ProperNameTextType"/>
  <xsd:element name="LocationCountry" abstract="true"/>
  <xsd:element name="LocationPostalCode" type="niem-xsd:string"/>
  <xsd:element name="LocationState" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A state, commonwealth, province, or other such geopolitical subdivision of a country.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:LocationState" name="LocationStateName" type="nc:ProperNameTextType">
    <xsd:annotation>
      <xsd:documentation>A state, commonwealth, province, or other such geopolitical subdivision of a country.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="LocationState"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
    <xsd:element substitutionGroup="nc:LocationCountry" name="LocationCountryName" type="nc:ProperNameTextType">
    <xsd:annotation>
      <xsd:documentation>A country, territory, dependency, or other such geopolitical subdivision of a location.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="LocationCountry"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TelephoneNumber" type="nc:TelephoneNumberType"/>
  
  <xsd:element name="PersonGivenName" type="nc:PersonNameTextType"/>
  <xsd:element name="PersonMiddleName" type="nc:PersonNameTextType"/>
  <xsd:element name="PersonPreferredName" type="nc:TextType"/>
  <xsd:element name="PersonNamePrefixText" type="nc:TextType"/>
  <xsd:element name="PersonNameSuffixText" type="nc:TextType"/>
  <xsd:element name="PersonSurName" type="nc:PersonNameTextType"/>
  <xsd:element name="StructuredAddress" type="nc:StructuredAddressType" substitutionGroup="nc:AddressRepresentation">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="AddressRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AddressFullText" type="nc:TextType" substitutionGroup="nc:AddressRepresentation">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="AddressRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
